{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
Welcome {{request.user}}
{% endif %}
Here are your passwords
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">App</th>
            <th scope="col">Password</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for app in apps %}
                <tr>
                    <td>{{ app.id }}</td>
                    <td>{{ app.app }}</td>
                    <td>{{ app.password }}</td>
                    <td><a href="{% url 'edit' app.id %}">Edit</a></td>
                    <td><a href="{% url 'delete' app.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
        
    <button type="button" onclick="location.href='{% url 'add' request.user.id %}'" class="btn btn-success"> Add password </button>            

{% endblock content %}